@import url('https://fonts.googleapis.com/css?family=Aleo|Josefin+Sans:300,400,700');

@import 'normalize';
@import 'mixins';

$text-color:#FFF;

* {
	box-sizing: border-box;
}

html {
	font-size: 10px;
	height: 100%;
}

body {
	font-family: 'Josefin Sans',sans-serif;
	font-size: 1.6rem;
	line-height: 1.6;
	color: $text-color;
	min-height: 100%;
}

.container {
	max-width: 1100px;
	width: 75%;
	margin: 0 auto;
}

.section {
	text-align: left;
	padding: 0px;
	&--fullscreen{
		min-height:100vh;
		text-align: center;
		padding-top: 29rem;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	&--bg{
		background-color: #5474fd;
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	&__title{
		text-transform: uppercase;
		&--h1{
			margin: 0 0 2rem;
			font-size: 4.8rem;
			line-height: 1;
			font-weight: 700;
			letter-spacing: 8px;
		}
		&--h2{
			margin: 8.5rem 0 7rem;
			font-size: 3.6rem;
			font-family: 'Aleo',serif;
			font-weight: 400;

		}
	}
	&__subtitle{
		font-size: 2.2rem;
		letter-spacing: 9px;
		margin-bottom: 5.5rem;
	}
	&__form{
		margin-bottom:  12rem;
		padding: 0.2rem;
		display: flex;
		justify-content: flex-end;
		width: 60%;
		min-width: 500px;
		background-color: #fff;
		text-align: center;
	}
	&__search{
		display: inline-block;
		flex-basis: 65%;
		padding: 2rem;	
		border: none;
		outline: none;
		text-overflow: ellipsis;
		&::-webkit-input-placeholder {
			color: #999;
			font-size: 1.4rem;
			letter-spacing: 3px;
			text-overflow: ellipsis;
			text-indent: 0px;
			transition: text-indent .4s ease-in-out;
		}
		&::-moz-placeholder {
			color: #999;
			font-size: 1.4rem;
			letter-spacing: 3px;
			text-overflow: ellipsis;
			text-indent: 0px;
			transition: text-indent .4s ease-in-out;
		}
		&::-ms-input-placeholder{
			color: #999;
			font-size: 1.4rem;
			letter-spacing: 3px;
			text-overflow: ellipsis;
			text-indent: 0px;
			transition: text-indent .4s ease-in-out;
		}
		&:focus::-webkit-input-placeholder {
			text-indent: 500px;
			transition: text-indent .4s ease-in-out;
		}

		&:focus::-moz-placeholder {
			text-indent: 500px;
			transition: text-indent .4s ease-in-out;
		}

		&:focus:-moz-placeholder {
			text-indent: 500px;
			transition: text-indent .4s ease-in-out;
		}

		&:focus:-ms-input-placeholder {
			text-indent: 500px;
			transition: text-indent .4s ease-in-out;
		}
		&[type="search"]::-webkit-search-cancel-button {
			display: none;
		}
	}
	&__btn{
		display: inline-block;
		flex-basis: 20%;
		min-width: 145px;
		border: 2px solid transparent;
		padding: 0;
		background-color: #5474fd;
		font-family: 'Aleo',serif;
		color: $text-color;
		font-size: 1.4rem;
		letter-spacing: 2px;
		text-transform: uppercase;
		padding-left: 15px;
		transition: .4s ease-in-out;
		&:hover,
		&:focus,
		&:active {
			background-color: $text-color;
			color: #5474fd;
			border-color: #5474fd;
			&+.section__btn--icon{
				fill: #5474fd;
			}
		}

		&--icon{
			vertical-align: middle;
			margin-left: 1.3rem;
			& path{
				fill: currentColor;
			}
		}	

	}
	&__menu{
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;

	}
	&__logo{
		
		font-size: 2.4rem;
		font-weight: 600;
		text-transform: uppercase;
		letter-spacing: 4px;

	}
	&__navigation{
		padding: 0;
		margin: 0;
		min-width: 47%;
		list-style: none;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		font-family: 'Aleo', sans-serif;
		font-size: 1.4rem;
		text-transform: uppercase;
	}
	&__navigation-item{
		margin: 0 5px;
		
		
	}
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;

	&__menu {
		background-color: #5474fd;
	    padding: 21px 0;
	}

	&__link {
		text-decoration: none;
		color: $text-color;
		text-align: center;
		transition: .4s ease-in-out;
		&--menu{
			&:hover,
			&:focus,
			&:active {
				color: #999;
			}
		}
	}
}

.scroll{
	display: flex;
	flex-direction: column;
	align-items: center;
	@include tr ();
	&:hover,
	&:focus,
	&:active{
		transform: scale(1.2);
		cursor: pointer;
	}
}

.places{
	padding-top: 12rem;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	&__text-block{
		flex-basis: 44%;
		color: #e8e8e8;
		p {
			font-weight: 300;
		}
	}
	&__img-block{
		flex-basis: 42%;
		max-width: 100%;
		height: auto;
		font-size: 0;
		& :last-child {
			float:right;
		}
	}
	&__img{
		width: 80%;
	}
	&__btn{
		border: none;
		color: $text-color;
		font-family: 'Aleo',serif;
		text-transform: uppercase;
		font-size: 1.6rem;
		text-align: center;
		min-width: 225px;
		padding: 20px 0;


	}
}

.gradient-btn {
	
	background-image: -webkit-linear-gradient(50deg, rgb(84, 116, 253) 40%, rgb(73, 107, 254) 40%);
	/* IE10+ */
	background-image: linear-gradient(50deg, rgb(84, 116, 253) 40%, rgb(73, 107, 254) 40%);
	background-image: -ms-linear-gradient(50deg, rgb(84, 116, 253) 40%, rgb(73, 107, 254) 40%);
}

